body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: hidden;
  position: fixed;
  
}

.navbar a {
  float: left;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a.navbar-brand {
  float: left;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.navbar a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #DCDEDC;
  color: red;
  font-size: 15px; 
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: auto;

}

table td,  th {
  border: 1px solid #ddd;
  padding: 6px;
}

 .blue {   background: blue; } 



table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  height: 10px;
  
}


#label_SLA
{
  position:fixed;
   left:500px;
   top:165px;
  display: none
}
thead, tbody { display: block; }

tbody {
    height:  390px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead  th { position: sticky; top: -1px; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: auto; }
th, td { padding: 8px 16px; }
th     { background:#eee; }


table.align-left-3rd-column td:nth-child(2)
{
  text-align: left;
}
/*#dvTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#dvTable td, #dvTable th {
  border: 1px solid #ddd;
  padding: 6px;
}

#dvTable tr:nth-child(even){background-color: #f2f2f2;}

#dvTable tr:hover {background-color: #ddd;}

#dvTable th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  height: 10px;
  
}*/